@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* font-family: "Lato", serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #ffffff;
  position: relative;
  font-family: "Lato", serif;
  /* padding-top: 50px; */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to right,
    rgba(255, 0, 0, 0.1) 0,
    rgba(255, 0, 0, 0.1) calc((100% - 11 * 24px) / 12),
    /* Column width */ transparent calc((100% - 11 * 24px) / 12),
    transparent calc((100% - 11 * 24px) / 12 + 24px)
  );
  background-size: calc(100% - 280px) 100%;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: -1;
  /* padding-top: 50px; */
}

header {
  height: 850px;
  background-color: rgba(255, 0, 0, 0.1);
}

.hero-banner {
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 10%;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.banner-text {
  font-family: "Lato", serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.banner-text h1 {
  font-weight: 900;
  font-size: 4em;
}

p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 1em;
}

.btn-primary {
  background-color: #e55473;
  padding: 20px 43px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.2em;
}

.center-bg {
  margin: 0 10%;
}

/* feature card style starts here */
.feature-section {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-bottom: 100px;
}

.feature-text {
  text-align: center;
  margin: 0 30%;
  font-weight: bold;
}

.feature-text h2 {
  color: #272727;
  font-size: 2.4em;
  margin-bottom: 20px;
}

.feature-card {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
}

.feature-card > div > div {
  height: 400px;
  /*width: calc(100% / 3);
  */

  border-radius: 50% 50% 0 0;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  -ms-border-radius: 50% 50% 0 0;
  -o-border-radius: 50% 50% 0 0;
}
.img2 {
  background-color: rgba(5, 151, 160, 0.15);
}

.img1 {
  background-color: rgb(167, 33, 98, 0.15);
}

.img3 {
  background-color: rgba(71, 125, 17, 0.15);
}

.feature-card > div {
  width: calc(100% / 3);
  text-align: center;
}

.feature-card > div h3 {
  color: #272727;
  font-size: 1.5em;
}

.feature-card > div > div > img {
  height: 100%;
  /* width: 100%; */
}

.service-section {
  /* margin: 0 10%; */
  background-color: rgba(39, 39, 39, 0.05);
  padding: 30px 0;
}

.service-section div {
  /* padding: 0 10%; */
  display: flex;
  gap: 30px;
}

.service-card {
  width: calc(100% / 3);
  display: flex;

  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: rgba(39, 39, 39, 0.8);
}
/* sale section starts here */
.color-red {
  color: #e55473;
}
.sales-title {
  font-size: 3em;
  font-weight: 900;
}
.sale-details {
  font-size: 1em;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
}

.sale-section {
  margin: 128px 0;
  display: flex;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
  padding: 50px 11%;
  background-color: rgba(229, 84, 115, 0.05);
}

.sale-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sale-text p {
  padding: 0 200px 0 0;
}

.images {
  display: flex;
  gap: 24px;
}

.images img {
  width: 100%;
  opacity: 0.75;
}

.insta-album {
  text-align: center;
  margin-bottom: 100px;
}

.insta-album-text h4 {
  color: #272727;
  font-size: 3em;
  margin-bottom: 20px;
}

.insta-album-text p {
  color: #27272760;
  font-size: 1em;
  margin-bottom: 50px;
  padding: 0 30%;
}

.news-letter {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  text-align: center;
}

.news-letter-bg {
  background-image: url(asset/Rectangle\ 9.png);
  background-position: center center;
  background-repeat: no-repeat;

  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.news-letter h4 {
  font-size: 3em;
  margin-bottom: 30px;
}

.input input {
  width: 60%;
  border: none;
  background-color: #ffffff80;
  font-size: 1.2em;
  padding: 20px 13px;
  border-radius: 5px;
}

.news-letter p {
  font-size: 1em;
  margin-bottom: 50px;
}

footer {
  background-color: #11101090;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 100px 0;
  flex-direction: column;
  gap: 20px;
}

footer div h4 {
  font-size: 1.6em;
  font-weight: 900;
  color: #fff;
}
footer div h4 span {
  color: #e55473;
}

footer div > p {
  color: #ffffff90;
  font-size: 1em;
  padding: 0 30% 0 30%;
  text-align: center;
}

footer div .copyright-text {
  color: #ffffff40;
  font-size: 0.8em;
}

/* responsive style starts here */
@media screen and (max-width: 576px) {
  .hero-banner {
    flex-direction: column;
    gap: 50px;
  }

  .hide {
    display: none;
  }

  .banner-text h1 {
    font-size: 3em;
  }

  header {
    padding-top: 100px;
  }

  .banner-image img {
    width: 80%;
    margin: 0 10%;
  }

  .feature-section {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .feature-text {
    margin: 0 10%;
  }

  .feature-card {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .feature-card > div {
    width: 100%;
  }

  .service-section {
    /* margin: 0 10%; */
    background-color: rgba(39, 39, 39, 0.05);
    /* padding: 30px 0; */
    /* padding-bottom: 500px; */
  }

  .service-card-container {
    /* padding: 0 10%; */
    display: flex;
    gap: 300px;
    flex-direction: column;
  }

  .service-card {
    text-align: center;
    /* width: calc(100% / 3); */
    width: auto;
    /* display: flex; */
    /* margin: 0 auto; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* font-size: 24px; */
    /* font-weight: 500; */
    /* color: rgba(39, 39, 39, 0.8); */
    /* gap: 50px; */
  }

  .sale-section {
    flex-direction: column-reverse;
  }
  .sale-text p {
    padding: 0 0 0 0;
  }

  /* instagram album starts here for mobile */

  .images {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  .images div {
    width: 100%;
  }

  .images img {
    /* width: 100%; */
    opacity: 0.75;
  }

  .insta-album {
    /* text-align: center; */
    margin-bottom: 100px;
  }

  .insta-album-text h4 {
    color: #272727;
    font-size: 3em;
    margin-bottom: 20px;
  }

  .insta-album-text p {
    color: #27272760;
    font-size: 1em;
    margin-bottom: 50px;
    padding: 0 10%;
  }
  .news-letter-bg {
    background-position: top left;
  }

  footer div > p {
    padding: 0 10% 0 10%;
  }
}
